{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    Crear Departamento
{% endblock titulo %}

{% block content %}
    {% include "includes/header.html" %}
    <div class="grid-container">
        <h1 class="cell">Registrar Departamento</h1>
        <div class="cell">
            <h2>Empleado a Cargo:</h2>
            <form class="cell callout grid-x grid-margin-x" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="medium-6 cell">
                    <label>Nombre: 
                        {{form.nombre}}
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Apellido: 
                        {{form.apellido}}
                    </label>
                </div>
                <h2 class="cell">Datos de Departamento:</h2>
                <div class="medium-6 cell">
                    <label>Nombre del Departamento: 
                        {{form.departamento}}
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Nombre Corto del Departamento: 
                        {{form.short_name}}
                    </label>
                </div> 
                <div class="medium-12 cell">
                    <button class="button success" type="submit">Crear</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

<h1>Registrar Nuevo Departamento</h1>

<form method="post">{% csrf_token %}
    <h3>Datos Empleados</h3>
    <p>Nombre: {{form.nombre}}</p>
    <p>Apellido: {{form.apellido}}</p>
    <h3>Datos de Departamento</h3>
    <p>Departamento: {{form.departamento}}</p>
    <p>Abreviatura: {{form.short_name}}</p>
    <button type="submit">Guardar</button>
</form>